body{
    font-family: Arial;
    margin: 40px;
    background: #f4f4f4;
}

h1{
    color: #333;
}

button{
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

ul{
    background: white;
    padding: 20px;
}